<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Carrinho</title>
</head>
<%- include("partials/head.ejs"); %>

    <body>
        <!-- <link rel="stylesheet" href="/css/login.css"> -->

        <%- include("partials/header.ejs"); %>
            <main>
                <h1>Meu Carrinho</h1>
                  <div class="envolver">
               
                    <div class="container">
                        <% for(let produto of produtos){ %>
                        <div class="produtoCarrinho">
                            <img class="amostra" src="/img/produtos/<%= produto.imagem%>" alt="">
                            <div class="livro">
                                <h2><%= produto.nome%></h2>
                               <div class="quantidade"><label for="quantidade">Quantidade:</label>
                                    <input type="number" value="1" min="1">
                                    <h3><%= produto.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency'
                                        , currency: 'BRL' }) %></h3>
                                </div> 
                            </div>
                        </div>
                        <% } %>

                    </div>
                    <div class="comprar">
                        <!-- <h4>`Total = ${total}`</h4> -->
                        <button>Finalização</button>
                    </div>
                  </div>
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>